.avatar {
    position: relative;
    display: inline-block;
}
.preview {
    border-radius: 50%;
    padding: 5px;
    margin: 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px dashed #aaa;
}
.preview>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.btn-action {
    background-color: rgba(136,148,158,.7);
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
    position: absolute;
    z-index: 3;
    border: none;
    bottom: 15px;
    cursor: pointer;
}
#btn-file {
    right: 15px;
    cursor: pointer;
    margin: 0;
}
/* #btn-file input {
    cursor: pointer;
    width: 100%;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: 0 0;
    position: absolute;
} */
#btn-delete {
    left: 15px;
}
#myform .error {
    border: 1.5px dashed red;
}