* {
    margin: 0;
    padding: 0;
}
body {
    color: #fff;
}
$bg-gray:rgba(220, 220, 220, 0.384);
@mixin d-flex-align-center{
	display: flex;
	align-items: center;
}
@mixin text-overflow{
	width:100%;
    overflow: hidden;
    text-overflow: ellipsis; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
     display: -webkit-box;
}
.wrapper {
    background-image: radial-gradient(circle, rgba(14, 14, 14, 0.151) 0%, rgba(6,6,6,0) 51%, rgba(9,9,9,1) 100%), 
    url("../image/bg.jpg");
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top__bar {
    position: relative;
    @include d-flex-align-center;
    justify-content: space-between;
    padding: 0 32px;
    z-index: 1000;
    color: #fff;
    font-size: 1.3rem;
    margin-top: 35px;
    &--left {
        @include d-flex-align-center;
        .btn__bar {
            i {
                font-size: 1.3rem;
            }
        }
        .weather {
            margin-left: 30px;
            @include d-flex-align-center();
            &__icon {
                @include d-flex-align-center();     
            }
            &__temperature {
                margin-left: 8px;
                .number {
                    margin: 0;
                    position: relative;
                    span {
                        position: absolute;
                        top: 5px;
                        left: 25px;
                        font-size: 0.5rem;
                        sub {
                            font-size: 0.7rem;
                            margin-left: 1px;
                        }
                    }
                }
            }
        }
    }
}
.search {
    position: relative;
    margin-top: 50px;
    &__content {
        position: relative;
        width: 42%;  
        margin: 0 auto;
        &--input {
            position: relative;
            input {
                width: 100%;
                padding: 10px 80px 10px 10px;
                border-radius: 5px;
                outline: none;
                border: none;
                font-size: 0.85rem;
            }
            .search__content--btn {
                position: absolute;
                right: 17px;
                top: 50%;
                transform: translateY(-50%);
                margin-top: -2px;
                svg:not(:last-child){
                    margin-right: 17px;
                }
                svg:not(:first-child){
                    transform: rotateZ(-90deg);
                    cursor: pointer;
                }
            }
        }
    }
    &__most-visited {
        position: relative;
        width: 42%;  
        margin: 0 auto;
        .content__key-search {
            @include d-flex-align-center();
            font-size: 0.7rem;
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 3px;
            li:not(:last-child){
                margin-right: 12px;
                max-width: 120px;
                span {
                    @include text-overflow();
                }
            }
            .btn_option {
                background: transparent;
                border: none;
                color: #fff;
                cursor: pointer;
                transition: all 0.6s;
                padding: 0px 4px;
                border-radius: 2px;
                &:focus{
                    outline: none;
                }
                &:hover {
                   background: $bg-gray; 
                   transition: all 0.6s;
                }
            }
            
        }
    }
}
#most-visited {
    position: absolute;
    left: 50%;
    bottom: 110px;
    transform: translateX(-50%);
    #most-visited__on-off:checked~.most-visited{
        opacity: 0;
        transition: all 0.6s;
        visibility: hidden;
    }
    #most-visited__on-off:checked~.btn-most__on-off i{
        transition: all 0.4s;
        transform: rotateZ(180deg);
    }
    .btn-most__on-off {
        font-size: 1.3rem;
        cursor: pointer;
        padding: 0px 9px;
        border-radius: 50%;
        position: absolute;
        right: 0;
        top: -35px;
        i {
            transition: all 0.4s;
        }
        &:hover {
            background-color: $bg-gray;
            transition: all 0.4s;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.397);
        }
        &:hover::after {
            opacity: 1;
            transition: all 0.4s;
        }
        &::after {
            content: "Thu gọn các liên kết nhanh";
            position: absolute;
            background-color: #fff;
            color: black;
            font-size: 0.8rem;
            text-align: center;
            padding: 3px;
            min-width: 180px;
            border-radius: 3px;
            left: 35px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: all 0.4s;
        }
    }
    #most-visited__on-off:checked~.btn-most__on-off::after {
        content: "Các liên kết nhanh";
        left: initial;
        right: 35px;
        min-width: 140px;
        color: #fff;
        background-color: transparent;
        font-size: 0.9rem;
        opacity: 1;
    }
    .most-visited {
        @include d-flex-align-center();
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        transition: all 0.6s;
        &__tile:not(:last-child) {
            margin-right: 5px;
        }
        &__click {
            position: relative;
            text-decoration: none;
            padding: 5px 5px 6px;
            display: block;
            width: 85px;
            border-radius: 3px;
            transition: all 0.6s;
            &--icon {
                width: 40px;
                height: 40px;
                padding: 8px;
                border-radius: 5px;
                background-color: #fff;
                margin: 0 auto;
                img {
                    width: 100%;
                    height: 100%;
                    vertical-align: initial;
                }
                .btn_option {
                    opacity: 0;
                    font-size: 0.7rem;
                    color: #fff;
                    background-color: rgba(192, 189, 189, 0.664);
                    padding: 1px 4.5px;
                    border-radius: 2px;
                    position: absolute;
                    vertical-align: middle;
                    top: 6px;
                    right: 3px;
                    .most-option {
                        opacity: 0;
                        padding: 5px;
                        background-color: #fff;
                        color: black;
                        position: absolute;
                        width: 120px;
                        top: 20px;
                        left: 0;
                        border-radius: 3px;
                        z-index: 1000;
                        visibility: hidden;
                        transition: 0.7s;
                        .menu__option {
                            opacity: 0;
                            transform: translate(-50%,-50%) scale(0.5);
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            &--item:not(:last-child) {
                                margin-bottom: 2px;
                            }
                            &--item {
                                cursor: pointer;
                                padding: 0px 7px 3px;
                                border-radius: 2px;
                                span {
                                    font-size: 0.75rem;
                                    i {
                                        margin-right: 5px;
                                        font-size: 0.8rem;
                                    }
                                }
                                &:hover {
                                    background-color: $bg-gray;
                                }
                            }
                        }
                    }
                    &:target .most-option{
                        opacity: 1;
                        visibility: visible;
                    }
                    &:target .most-option .menu__option {
                        opacity: 1;
                        transform: translate(0,0) scale(1);
                        transition: all 0.6s;
                    }
                }
            }
            &--title {
                color: #fff;
                font-size: 0.7rem;
                max-width: 60px;
                margin: 3px auto 0;
                text-align: center;
                span {
                    @include text-overflow();
                }
            }
            &:hover .most-option {
                opacity: 0;
                visibility: hidden;
            }
            &:hover {
                background-color: $bg-gray;
                transition: all 0.6s;
            }
            &:hover .btn_option {
                animation: anim_opacity_fadeIn 0.4s ease-out;
                opacity: 1;
                transition: all 0.4s;
            }
        }
        &__last {
            text-align: center;
            color: #fff ;
            font-size: 2rem;
            font-weight: 100;
            border-radius: 5px;
        }
    }
}
.zoom_bg {
    position: absolute;
    bottom: 25px;
    right: 40px;
    font-size: 0.8rem;
    span {
        i {
            margin-right: 18px;
            font-size: 0.8rem;
            font-weight: 100;
        }
    }
}
@keyframes anim_opacity_fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    50% {
        transform: translateY(10px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}